@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("http://fonts.cdnfonts.com/css/aldo-the-apache");
@import url("http://fonts.cdnfonts.com/css/century-gothic");

@font-face {
  font-family: "Aldo the Apache";
  src: URL("../assests/fonts/AldotheApache.ttf") format("truetype");
}

@font-face {
  font-family: "Century Gothic";
  src: URL("../assests/fonts/Century\ Gothic.ttf") format("truetype");
}

@font-face {
  font-family: "MerryWeather";
  src: URL("../assests/fonts/Merriweather-Regular.ttf") format("truetype");
}

* {
  font-family: "Inter", sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

body {
  /* background: radial-gradient(
      circle at 80% -30%,
      rgba(69, 114, 210, 0.4),
      rgba(123, 69, 210, 0) 60%
    ),
    #202020; */

  background-image: url("../assests/bg/page4_bg.png");

  color: white;

  height: 100vh;
  overflow: hidden;
}

.topbar {
  height: 15%;
}

.logo {
  margin-top: 3rem;
  margin-left: 3rem;
}

.tour_btn {
  background-color: #2a3752;
  color: white;
  border: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3.3rem;
}

.tour_btn:hover {
  background-color: transparent;
  color: white;
  border: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3.3rem;
}

.login_btn {
  background-color: #2196f3;
  color: white;
  border: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 1px solid white;
  border-radius: 3.3rem;
}

.login_btn:hover {
  background-color: transparent;
  color: white;
  border: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3.3rem;
}

#main_container {
  height: 85%;
}

.card {
  height: 300px;
  width: 300px;
  transition: clip-path 1s;
}

.card > img {
  /* height: 100%;
  width: 100%; */

  margin-top: auto;
  margin-bottom: auto;
}

.card:hover {
  clip-path: circle(75%);
}

.outline {
  position: absolute;
  top: 40%;
  left: 63%;
  border-radius: 50%;
  border: 1.3rem solid #1976d2;
  width: 767px;
  /* height: 101rem; */
  margin: -15rem 0 0 -15rem;
  /* width: 49rem; */
  height: 708px;
  opacity: 0;
  filter: blur(13px);
}

/* center text  */

.text_box {
  width: 400px;
  height: 400px;
}

.start_text {
  font-family: "Aldo the Apache", sans-serif;
  font-size: 70px;
  color: #1976d2;
  line-height: 1;
}

.heading_text {
  font-family: "Century Gothic", sans-serif;
  font-size: 40px;
}

.text_seperator {
  border: 1px solid white;
}

/* login modal position */

.modal {
  position: fixed;
  top: 204px;
  left: 261px;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}
/* login form */

.modal-content {
  border-radius: 20px;
}

.main-content {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  margin: auto auto;
  display: flex;
}

.company__info {
  background-color: #1976d2;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.fa-android {
  font-size: 3em;
}

@media screen and (max-width: 640px) {
  .main-content {
    width: 90%;
  }
  .company__info {
    display: none;
  }
  .login_form {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}
@media screen and (min-width: 642px) and (max-width: 800px) {
  .main-content {
    width: 70%;
  }
}

.row > h2 {
  color: #008080;
}
.login_form {
  background-color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
form {
  padding: 0 2em;
}
.form__input {
  width: 100%;
  border: 0px solid transparent;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
  padding: 10px;
  /* padding: 1em 0.5em 0.5em; */
  padding-left: 2em;
  outline: none;
  margin: 0.5rem auto;
  transition: all 0.5s ease;
}
.form__input:focus {
  border-bottom-color: #008080;
  box-shadow: 0 0 5px rgba(0, 80, 80, 0.4);
  border-radius: 4px;
}

.loginbtn {
  transition: all 0.5s ease;
  width: 70%;
  border-radius: 30px;
  color: #008080;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #1976d2;
  /* margin-top: 1.5em; */
  /* margin-bottom: 1em; */
  margin: 10px auto;
}

.loginbtn:hover,
.loginbtn:focus {
  background-color: #1976d2;
  color: #fff;
}

.forgot_pasword {
  margin-top: 10px;
}

/* radio btn */
:root {
  --accent: rgb(0, 69, 158);
  --border-width: 3px;
  --border-radius: 55px;
}

.container {
  perspective: 800px;
}

.toggle {
  position: relative;
  border: solid var(--border-width) #1976d2;
  border-radius: var(--border-radius);
  transition: transform cubic-bezier(0, 0, 0.3, 2) 0.4s;
  transform-style: preserve-3d;
  perspective: 800px;
  margin: 10px auto 0 auto;
  width: 242px;
}

.toggle > input[type="radio"] {
  display: none;
}

.toggle > #choice1:checked ~ #flap {
  transform: rotateY(-180deg);
}

.toggle > #choice1:checked ~ #flap > .content {
  transform: rotateY(-180deg);
}

.toggle > #choice2:checked ~ #flap {
  transform: rotateY(0deg);
}

.toggle > label {
  display: inline-block;
  min-width: 100px;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  color: #1976d2;
  cursor: pointer;
}

.toggle > label,
.toggle > #flap {
  font-weight: bold;
  text-transform: capitalize;
}

.toggle > #flap {
  position: absolute;
  top: calc(0px - var(--border-width));
  left: 50%;
  height: calc(100% + var(--border-width) * 2);
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: #1976d2;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  transform-style: preserve-3d;
  transform-origin: left;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}

.toggle > #flap > .content {
  color: white;
  transition: transform 0s linear 0.25s;
  transform-style: preserve-3d;
}

/* slider */

#image_slide1,
#image_slide2 {
  transform: scale(0);
  transition: transform 2s;
  position: absolute;
  top: 88px;
  width: 150px;
  left: 8px;
}

#img1:checked + #image_slide1 {
  transform: none;
  display: block;
}

#img2:checked + #image_slide2 {
  transform: none;
  display: block;
}

@keyframes circleShrink {
  0% {
    clip-path: circle(75%);
  }
  90% {
    clip-path: circle(25%);
  }
  100% {
    clip-path: circle(2%);
  }
}

@keyframes circleScale {
  0% {
    clip-path: circle(2%);
  }
  90% {
    clip-path: circle(25%);
  }
  100% {
    clip-path: circle(75%);
  }
}

@keyframes outlineScale {
  0% {
    transform: scale(0) translateZ(0px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateZ(0px);
    opacity: 0.9;
  }
}
