@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  font-family: "Inter", sans-serif;
}

body {
  background: radial-gradient(
      circle at 80% -30%,
      rgba(69, 114, 210, 0.4),
      rgba(123, 69, 210, 0) 60%
    ),
    #202020;

  color: white;

  height: 100vh;
}

.topbar {
  height: 10%;
}

.logo {
  margin-top: 3rem;
  margin-left: 3rem;
}

.tour_btn {
  color: white;
  border: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3.3rem;
}

.tour_btn:hover {
  background-color: #2196f3;
  color: white;
  border: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 1px solid white;
  border-radius: 3.3rem;
}

.login_btn {
  background-color: #2196f3;
  color: white;
  border: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 1px solid white;
  border-radius: 3.3rem;
}

.login_btn:hover {
  background-color: transparent;
  color: white;
  border: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3.3rem;
}

.text_caps_color {
  color: #1976D2;
}

#main_container {
  height: 90%;
}

.card {
  height: 400px;
  width: 400px;
  transition: clip-path 1s;
}

.card:hover {
  clip-path: circle(75%);
}

.text_box {
  width: 400px;
  height: 400px;
}

@keyframes circleClose {
  0% {
  }

  10% {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  }

  100% {
    clip-path: circle(4% at 50% 50%);
  }
}

@keyframes circle {
  0% {
    clip-path: circle(75%);
  }
  90% {
    clip-path: circle(25%);
  }
  100% {
    clip-path: circle(2%);
  }
}
