@import url(https://fonts.googleapis.com/css?family=Inter:400);

html {
  box-sizing: border-box;
  font-size: 95%;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  background: #e0758e;
  color: #333;
  text-align: center;
}



*,
*:before,
*:after {
  box-sizing: inherit;
}

.box {
  width: 100%;
  max-width: 400px;
  margin: 2rem auto;
  background: white;
  border: 1px solid white;
  border-radius: 3px;
  text-align: left;
}

h1 {
  color: #fff;
  margin: 10% 0 0 0;
}

p {
  color: #fff;
  font-size: 0.9rem;
  opacity: 0.6;
}

hr {
  border: none;
  border-bottom: 0.1rem solid #ccc;
}

h4 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #e0758e;
}
