body {
  background-image: url("../assests/page2_bg.png");
  background-size: 1365px 670px;
  height: 100vh;
}

.frame {
  background-size: 530px 350px;
  width: 530px;
  height: 350px;
  background-image: url(../assests/laptop_frame.png);
}

.img {
  width: 366px;
  height: 237px;
  margin: auto;
  position: absolute;
  top: 46px;
  right: 82px;
  display: none;
}

#one:checked ~ .img-1 {
  display: block;
}
#two:checked ~ .img-2 {
  display: block;
}
#three:checked ~ .img-3 {
  display: block;
}
#four:checked ~ .img-4 {
  display: block;
}
#five:checked ~ .img-5 {
  display: block;
}
#six:checked ~ .img-6 {
  display: block;
}
.fade1 {
  -webkit-animation-name: fade1;
  -webkit-animation-duration: 1.5s;
  animation-name: fade1;
  animation-duration: 1.5s;
}

.dot {
  height: 8px;
  width: 8px;
  margin: 0 2px;
  cursor: pointer;
  background-color: deepskyblue;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot_class {
  margin: -4.8% 0% 0% 13%;
  position: absolute;
}

.login_btn {
  position: absolute;
  top: 44%;
  left: 86%;
  color: white;
  font-size: 23px;
  padding: 7px 60px;
  border: none;
  cursor: pointer;
  text-align: center;
  background: transparent;
  border-bottom-right-radius: 91px;
  border-bottom-left-radius: 105px;
}

.video_container > div {
  width: 300px;
}

.login_first_div {
  text-align: center;
  border-bottom: 1px solid darkgray;
  height: 67px;
  margin: 0em 3em 0em 3em;
}

.login_cate > option {
  margin: 0.5em 0em 0em 0em;
  text-align: center;
  padding: 0.3em 0em 0.3em 0em;
  border-radius: 4px;
  color: white;
  background-color: #0146ec !important;
}

.login_cate {
  background-color: transparent;
  border: 0;
  outline: 0;
  overflow-y: auto;
  width: 150px;
  color: white;
  height: 36px !important;
  margin: 0.6em 0em 0em 0em;
}

.previousoption {
  cursor: pointer;
  position: absolute;
  top: -5px;
  padding: 0px 0px 0px 0px;
  left: 119px;
  user-select: none;
}

.nextoption {
  cursor: pointer;
  position: absolute;
  top: 43px;
  padding: 0px 0px 0px 0px;
  left: 119px;
  user-select: none;
}

.login_inputs {
  border-radius: 7px;
  margin: 0.5em 0em 0em 0em;
  border: 2px solid gray;
  width: 159px;
}

.User_login_head {
  color: gray;
  font-weight: bold;
  text-align: center;
  margin: 0.7em 0em 0em 0em;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

/* animations */

@keyframes fade1 {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
